<!-- <br>Write your goals here:
	<form class="form" ng-submit="main.addNewGoal()">
 		<input type="text" ng-model="main.goal.author" placeholder="name">
 		<br>
		<textarea id="comment" class="form-control" rows="3" placeholder="goal" ng-model="main.goal.text"></textarea>
		<button type="submit" class="waves-effect waves-light btn-large">Submit</button>
	</form>
 -->